@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "reset";

body{
    background: var(--bg-color);
    font-size: var(--font-m);
    color: var(--primary-color);
}

.app{
    background: var(--bg-color);

    // font-size: var(--font-m);
    color: var(--primary-color);
    min-height: 100vh;
}

.contentPage{
    display: flex;
}

.pageWrapper{
    padding: 20px;
    flex-grow: 1;
}