.appGreenTheme{
    --bg-color: #F4FBF4;
    --inverted-bg-color: #018309;
    --primary-color: #01412f;
    --secondary-color: #003124;
    --inverted-primary-color: #F4FBF4;
    --inverted-secondary-color: #c5c5c5;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card 
    --card-bg: #dcdcdc;
}