.app.light{
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0a0a5d;
    --primary-color: #1d64ff;
    --secondary-color: #103092;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}